<%- include('header') -%>
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h1>Gallery page</h1>
        <a href="/upload" class="btn btn-primary text-center" style="height: min-content">Upload a new picture</a>
    </div>
    <div class="row" style="gap: 16px">
        <% if (typeof pictures === 'undefined' || pictures.length === 0) { %>
            <div class="col-12">
                <p>No pictures found :(</p>
            </div>
        <% } else { %>
            <% for (let i = 0; i < pictures.length; i++) { %>
                <div class="card col-3" style="width: 18rem;">
                    <div style="height: 300px; object-fit: cover; object-position: center center">
                        <img src="<%= pictures[i].url %>" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body" style="background: white">
                        <h5 class="card-title"><%= pictures[i].title %></h5>
                        <p class="card-text">Created
                            at: <%= `${new Date(pictures[i].createdAt).getDate()}/${new Date(pictures[i].createdAt).getMonth() + 1}/${new Date(pictures[i].createdAt).getFullYear()}` %></p>
                        <a href="/delete/photo/<%= pictures[i].id %>" class="btn btn-danger">Delete photo</a>
                    </div>
                </div>
        <% }} %>
    </div>
</div>
<%- include('footer') -%>